<div class="d-flex flex-column h-100">
    <mat-toolbar color="primary">
        <button mat-icon-button color="warning" (click)="toggleSidenav()" aria-label="Menu button">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Hello, {{ user.fullName }}!</span>
    </mat-toolbar>

    <mat-sidenav-container class="h-100">
        <mat-sidenav mode="side" [opened]="isAdminSidenavOpened" class="py-2 px-5">
            <div class="d-flex flex-column h-100">
                <div [routerLink]="['/admin']" role="button" class="d-inline-flex gap-1">
                    <mat-icon color="accent" class="pt-1">home</mat-icon>
                    <h2 class="text-secondary m-0">Home</h2>
                </div>
    
                <div [routerLink]="['/admin/product']" role="button" class="d-inline-flex gap-1">
                    <mat-icon color="primary" class="pt-1">add</mat-icon>
                    <h2 class="text-primary m-0">Product</h2>
                </div>

                <div class="flex-grow-1"></div>

                <div [routerLink]="['/client']" role="button" class="d-inline-flex gap-1">
                    <mat-icon color="primary" class="pt-1">person</mat-icon>
                    <h2 class="text-primary m-0">Switch to Client</h2>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="p-4">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
