<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="m-1">
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" autocomplete="e-commerce-login-email">
            <mat-error *ngIf="email?.invalid">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="e-commerce-login-password">
            <mat-error *ngIf="password?.invalid">Invalid password</mat-error>
        </mat-form-field>
    </div>

    <div class="d-inline-flex justify-content-center gap-2 w-100">
        <button mat-flat-button type="submit" color="warn">
            LOGIN
        </button>

        <button mat-flat-button type="button" routerLink="/register" color="primary">
            REGISTER
        </button>
    </div>

    <div class="d-inline-flex justify-content-center w-100 mt-2">
        <h3 routerLink="/recover" role="button" class="m-0 text-muted">recover password</h3>
    </div>
</form>