<form [formGroup]="formGroup" autocomplete="off">
    <div class="m-1">
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" autocomplete="e-commerce-recover-email">
            <mat-error *ngIf="email?.invalid">Invalid email</mat-error>
        </mat-form-field>
    </div>

    <div class="d-inline-flex justify-content-center gap-2 w-100">
        <button mat-flat-button routerLink="/login" color="primary">
            LOGIN
        </button>

        <button mat-flat-button (click)="onSubmit()" color="warn">
            SEND RESET LINK
        </button>
    </div>
</form>