<table mat-table [dataSource]="tableData" class="w-100 mat-elevation-z8">
    <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef>SKU</th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
    </ng-container>

    <ng-container matColumnDef="parentTitle">
        <th mat-header-cell *matHeaderCellDef>Parent</th>
        <td mat-cell *matCellDef="let element"> {{element.parentTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef>Available</th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>
            <mat-icon>settings</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="editProductType(element.sku)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="deleteProductType(element.sku)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>