<form [formGroup]="formGroup" autocomplete="off">
    <div class="m-1">
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>New password</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="e-commerce-login-password">
            <mat-error *ngIf="password?.invalid">Invalid password</mat-error>
        </mat-form-field>
    </div>

    <div class="d-inline-flex justify-content-center gap-2 w-100">
        <button mat-flat-button (click)="onSubmit()" color="warn">
            RESET PASSWORD
        </button>
    </div>
</form>