<div class="d-flex justify-content-center">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="w-100 row">
    <mat-form-field appearance="standard" class="col-6 mr-6">
      <mat-label>Product</mat-label>
      <input type="text" matInput formControlName="parentSKU" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
          {{ product.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-12">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" type="text">
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-6">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock" type="number">
    </mat-form-field>

    <div class="col-12 d-flex flex-column">
      <h3 class="m-0">Price:</h3>
      <div class="row">
        <mat-form-field appearance="standard" class="col-4">
          <mat-label>Original</mat-label>
          <input matInput formControlName="price_original" type="number">
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-4">
          <mat-label>Discounted</mat-label>
          <input matInput formControlName="price_discount" type="number">
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-4">
          <mat-label>Currency</mat-label>
          <input matInput formControlName="price_currency" type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 d-flex flex-column">
      <h3 class="m-0">Dimensions:</h3>
      <div class="row">
        <mat-form-field appearance="standard" class="col-3">
          <mat-label>Width</mat-label>
          <input matInput formControlName="dimension_width" type="number">
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-3">
          <mat-label>Height</mat-label>
          <input matInput formControlName="dimension_height" type="number">
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-3">
          <mat-label>Length</mat-label>
          <input matInput formControlName="dimension_length" type="number">
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-3">
          <mat-label>Unit</mat-label>
          <input matInput formControlName="dimension_unit" type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="col-12">
      <mat-checkbox formControlName="available" color="accent">
        Available
      </mat-checkbox>
    </div>

    <div class="d-inline-flex justify-content-end col-12">
      <button mat-flat-button color="warn">
          {{ productType ? 'Update product' : 'Add new product' }}
      </button>
    </div>
  </form>
</div>
