<div class="row w-100">
    <div *ngFor="let productType of productTypes" class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
        <mat-card class="h-100">
            <mat-card-title class="text-success">{{ productType.description }}</mat-card-title>
            <mat-card-subtitle>{{ productType.parentTitle }}</mat-card-subtitle>
            <mat-card-content>
                <div *ngIf="productType.stock">
                    <p>
                        <span>Price: </span>
                        <s>{{ productType.prices[0]?.original }}</s>
                        <span class="text-primary"> {{ productType.prices[0]?.discount }} {{
                            productType.prices[0].currency }}</span>
                    </p>
                    <p>
                        <span>Dimensions: </span>
                        <span class="text-primary">w: {{ productType.dimension?.width }}, h: {{
                            productType.dimension?.height }}, l: {{ productType.dimension?.length }} {{
                            productType.dimension?.unit }}</span>
                    </p>
                </div>
                <div *ngIf="!productType.stock" class="d-flex justify-content-center align-items-center">
                    <h1 class="m-0 text-muted">OUT OF STOCK</h1>
                </div>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions class="d-flex justify-content-between">
                <div>
                    <button mat-button *ngIf="productType.stock && isGatherable(productType.sku)" color="primary"
                        (click)="gather(productType.sku, productType.description, productType.prices[0].discount)">
                        Gather
                    </button>
                </div>

                <div>
                    <button mat-button *ngIf="productType.stock" color="warn"
                        (click)="buyOne(productType.sku, productType.prices[0].discount)">
                        BUY
                    </button>
                    <button mat-icon-button *ngIf="!productType.stock" color="accent"
                        (click)="subscribeNotification(productType.sku)">
                        <mat-icon>notification_add</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>