<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="m-1">
        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>Full name</mat-label>
            <input matInput formControlName="fullName" type="text" autocomplete="e-commerce-register-fullName">
            <mat-error *ngIf="email?.invalid">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" autocomplete="e-commerce-register-email">
            <mat-error *ngIf="email?.invalid">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="e-commerce-register-password">
            <mat-error *ngIf="password?.invalid">Invalid password</mat-error>
        </mat-form-field>
    </div>

    <div class="d-inline-flex justify-content-center gap-2 w-100">
        <button mat-flat-button type="button" routerLink="/login" color="primary">
            LOGIN
        </button>

        <button mat-flat-button type="submit" color="warn">
            REGISTER
        </button>
    </div>
</form>