<div *ngIf="items.length" class="border mt-5 p-2">
    <div class="d-inline-flex gap-2">
        <h3 class="text-primary">Gathered List</h3>
        <mat-icon color="primary">receipt_long</mat-icon>
    </div>
    <div *ngFor="let item of items" class="d-flex justify-content-between">
        <span>{{ item.description }}</span>
        <span>{{ item.price }}</span>
        <span>{{ item.quantity }}</span>

    </div>
    <div class="d-flex justify-content-end">
        <button mat-button (click)="onMoveToCart()" color="primary" class="mt-2 p-0">Move to Cart</button>
    </div>
</div>