<table mat-table [dataSource]="tableData" class="w-100 mat-elevation-z8">
    <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef>SKU</th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="modifyQuantity(element, -1)">
                <mat-icon>remove</mat-icon>
            </button>
            <span>{{element.quantity}}</span>
            <button mat-icon-button color="primary" (click)="modifyQuantity(element, 1)">
                <mat-icon>add</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
            <mat-icon>settings</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteEntry(element.sku)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="order">
        <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
            <div *ngIf="tableData?.length" class="d-flex justify-content-end">
                <button mat-stroked-button color="accent" (click)="placeOrder()">
                    Place Order
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['order']"></tr>
    <tr *matNoDataRow class="mat-row">
        <td [colSpan]="displayedColumns.length" class="mat-cell">
            <div class="d-flex justify-content-center">
                <span>Your cart is .</span>
                <span class="text-danger">empty</span>
                <span>, try adding products to it!</span>
            </div>
        </td>
    </tr>
</table>